.countdown-container {
    background-image: linear-gradient(to bottom right, #A27900, #CEA335);
    h1 {
        text-align: center;
        padding: 50px 0;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .countdown-container {
        h1 {
            font-size: 4rem;
        }
    }

}
