.footer {
  // border: 2px solid red;
  background: linear-gradient(to bottom right, #7E1215, #C4224A);
  h2 {
    text-align: center;
    // border: 2px solid red;
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: var(--champagne-gold);
  }
}

@media only screen and (min-width: 768px) {
    .footer {
        background: var(--champagne-gold);
        h2 {
          color: var(--burgundy-red);

        }
    }
}
