.Navbar {
  // border: 2px solid red;
  // position: sticky;
  // padding: 10px;
  background: linear-gradient(to bottom right, #7e1215, #c4224a);

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    .logo {
      font-family: "Dancing Script", cursive;
      font-weight: 700;
      font-size: 2rem;
      color: var(--champagne-gold);
      padding: 10px;
    }

    .menu-container {
      display: none;
    }
    .bar {
      font-size: 2rem;
      // border: 2px solid red;
      color: var(--champagne-gold);
      margin-right: 20px;
    }
  }
  .menu-container-mobile {
    // border: 2px solid red;
    ul {
      font-weight: bold;
      font-size: 1.3rem;
      color: var(--champagne-gold);
      list-style-type: none;
      border: 2px solid red;
      padding: 0;
      margin: 0;

      li {
        display: block;
        text-align: center;
        border: 2px solid red;
        margin: 10px 0;
        &:hover {
          background-color: var(--champagne-gold);
          color: var(--burgundy-red);
        }
      }
    }
  }
}
.some-active-class {
  background-color: var(--champagne-gold);
  color: var(--burgundy-red);
  display: block;
}

@media only screen and (min-width: 768px) {
  .Navbar {
    main {
      .logo {
        font-size: 3.5rem;
      }
      .menu-container {
        display: inline;
        ul {
          font-weight: bold;
          font-size: 1.3rem;
          color: var(--champagne-gold);
          li {
            margin: 0 20px;
            display: inline;
            padding-bottom: 10px;
            cursor: pointer;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }

  .some-active-class {
    display: inline;
    background-color: transparent;
    color: var(--champagne-gold);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--champagne-gold);
  }
}
